@charset "utf-8";

.thumb{
	position:relative;
}
.item{
    position: relative;
    float: left;
    display: flow-root;
    width: 300px;
    height: 320px;
    margin: 3px 5px;
}
.title{
	font-size:12px;
	color:#383838;
	font-weight:bold;
}
.description{
	font-size:12px;
	color:#144fda;
}
.author{
	font-size:12px;
	color:#8c1313;
}
.regdate{
	font-size:12px;
	color:#000000;
}.tmb{
	width:210px;
	height:117px
}
.boardStyleGallery .thumbnailWrap,
.boardStyleGallery .gall_style2 .thumbnailWrap{
	position:relative;
	max-width:225px;
    vertical-align: text-bottom;
}
.boardStyleGallery li{
	width:210px;
	height:100px;
	margin: 1px 1px;
}
.autor_search{
	max-width:205px;
}
.sm2_btn{
	top: 125px !important;
}
.dbt,.dbt2,.dbt3,.dbt4{
	top: 125px !important;
}
.sm360_btn{
	top: 100px !important;
}

.title_album{
	max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
}
.minimalizeWindow {
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 8px 9px;
	background-color: #fbfbfb;
	border: 1px solid #d4d4d4;
	max-height: 100px;
	overflow: scroll;
	overflow-x: unset;
}
.minimalizeWindow .Item {
	width: 100%;
	display: -webkit-box;
	border-bottom: 1px dotted #bfbfbf;
	text-align: center;
	font-size: 11px;
}
.navigation {
	display: inline-grid;
	float: right;
}
.navigation a {
	padding: 8px 13px;
	background-color: #eee;
	color: #525252;
	margin: 13px 0px 0px 0px;
}


/* SNS */
.twitter_sns,
.googleplus_sns,
.pinterest_sns {
	padding: 5px 7px;
	border-radius: 2px;
	color: #fff;
	margin: 0px 2px;
	font-size: 12px;
	width: 27px;
}
.twitter_sns {
	background-color: #0080b1;
}
.googleplus_sns {
	background-color: #dd4b39;
}
.pinterest_sns {
	background-color: #dd4b39;
}
.regdateArea a {
	line-height: 23px;
	font-weight: 100;
}


/* Reset */

h1 {
	color: #000;
	padding: 7px 0 0 0;
	font-size: 18px;
}

::-webkit-full-screen * {
	width: 100%;
	height: 100%;
}

#flower_space {
	margin: 15px 10px
}

#autoload_related_list {
	z-index: 9999;
	background-color: #fff;
	width: 300%;
	overflow: hidden;
	position: absolute;
	bottom: 30px;
	left: 0px;
}
.blind {
	display: none
}
.href_cursor {
	cursor: pointer;
}
.bd_bc {
	font-size: 11px;
	color: #999;
}
.bd_bc a {
	display: inline-block;
	padding: 0 4px;
	color: #444;
}
.bd_hd {
	padding: 3px 0 12px;
}
.extra_vars {
	border: 1px solid #d0d0d0
}
.link {
	padding: 0 8px;
	font-size: 10px;
	color: #999 !important;
}
.play_name {
	display: none;
}
.closeDoc {
	border: 1px solid #e0e0e0;
	padding: 2px;
	border-radius: 5px;
	background-color: #f3f3f3;
}
.cate_area {
	display: flow-root;
	margin: 2px 0px 10px 0px;
}
.sel_cate {
	margin: 0px 2px 0px 0px !important;
	padding: 5px;
	vertical-align: middle !important;
	line-height: 0px !important;
	font-size: 11px !important;
	height: 21px;
}
.sel_cate option {
	line-height: 20px
}
.viewing_g2 {
	opacity: 0.8;
	background-size: unset !important;
	background-clip: padding-box;
	background-position-x: right;
	background-position-y: center;
	-webkit-filter: blur(5px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: sepia(100%);
}
.playtime_ech {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: #6b6b6b;
	padding: 3px 5px;
	color: #fff;
	font-size: 8px;
	border-radius: 2px;
	opacity: 0.8;
}

/* Autoload */
.autoload_doc {
	list-style: none;
	margin: 3px 5px;
	text-align: left
}


/*Star Rating */
.rating {
	overflow: hidden;
	display: inline-block;
	font-size: 0;
	position: relative;
}
.rating-input {
	float: right;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 0 0 -16px;
	opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
	background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
	position: relative;
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url('star.png') 0 -16px;
}
.rating_box {
	position: absolute;
	top: 24px;
	left: 0px;
	padding: 3px 7px;
	background-color: #c73379;
	color: #fff;
	opacity: 0.8;
	z-index: 9999;
}

#form_doc {
	padding: 8px;
	background-color: #e8e8e8;
}


/* Comment */

#comment_page {
	padding: 3px;
	background: #efefef;
	border: 0px solid #ECECEC;
	border-top: 1px solid #cecece;
}
.notlogged {
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-top: 0px
}
.commentAuthor,
.commentContent {
	font-size: 12px;
	display: block;
}


/*.commentAuthor{overflow: hidden;
font-weight: normal;
background-color: #f7f7f7;
padding: 7px 9px;
border-radius: 9px;
overflow-wrap: break-word;
}*/
.commentAuthor {
	overflow: hidden;
	font-weight: normal;
	padding: 0px;
	overflow-wrap: break-word;
}
.commentAuthor div {
	color: #4c4646;
}
.commentItem {
	padding: 7px 8px
}


/*.commentItem .commentAuthor:before {border-right-color: #f4f4f4;
}.commentItem .commentAuthor:before {content: "";
position: absolute;
top: 20px;
left: 52px;
height: 0;
border-right: 7px solid;
border-top: 7px solid rgba(0, 0, 0, 0);
border-bottom: 7px solid rgba(0, 0, 0, 0);
color: #e4e4e4;
}*/
.commentArea {
	text-align: center;
	padding-bottom: 40px;
	padding: 5px;
	border: 1px solid #eee;
	border-top: 0px;
	background-color: #f9f9f9;
}
.commentCount {
	margin: 5px;
	line-height: 2.3;
	font-weight: lighter;
	font-size: 13px;
}
.commentContent {
	border-color: #CCC #DDD #DDD #CCC;
	border-radius: 0px;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .06);
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .1);
	max-width: 93.7%;
	min-width: 93.7%;
	width: 93%;
	height: 70px;
	border: 1px solid #e4e4e4;
}
.commentNickname {
	border-color: #CCC #DDD #DDD #CCC;
	border-radius: 0px;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .06);
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .1);
	float: left;
	width: 22%;
	border: 1px solid #AAA;
	padding: 2px;
}
.commentContent {
	color: #636161;
}
.commentAuthor div a {
	border: 1px solid #e6e6e6;
	margin: 0px 0px 0px 3px;
	padding: 3px 5px;
	line-height: 3;
	background-color: #fbfbfb;
	font-size: 11px;
}
.regdate_cmt {
	float: right;
	color: #2385ce;
	border: 1px solid #cbe7ff;
	padding: 2px 3px;
	background-color: #f6fbff;
}
.regist {
	display: block;
	margin: 15px auto;
}


/* Tooltip */
.wrapper .tooltip {
	border-radius: 3px;
	background: #474747;
	bottom: 120%;
	color: #fff;
	left: -35px;
	margin-bottom: 15px;
	opacity: 0;
	padding: 5px;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, .28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, .28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .28);
}
.wrapper .tooltip,
.wrapper .tooltip:before {
	display: block;
	min-width: 100px;
	max-width: 500px;
	position: absolute;
	text-align: center;
}
.wrapper .tooltip:after,
.wrapper .tooltip:before {
	content: " ";
	position: absolute;
}
.wrapper .tooltip:before {
	bottom: -20px;
	height: 20px;
	left: 0;
}
.wrapper .tooltip:after {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-top: solid #474747 10px;
	bottom: -10px;
	height: 0;
	left: 50%;
	margin-left: -13px;
	width: 0;
}
.wrapper:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.lte8 .wrapper .tooltip {
	display: none;
}
.lte8 .wrapper:hover .tooltip {
	display: block;
}


/* Related Document */

#relatedDocumentList {}

#relatedDocumentList .title {
	padding: 9px;
	font-size: 12px;
	color: #4165bb;
	background-color: rgb(215, 239, 255);
	border-top: 1px solid #d6d6d6 !important;
	border-bottom: none;
	border-bottom: 1px solid #e6e6e6 !important;
}

#relatedDocumentList .relatedNavigation {
	padding: 5px;
	font-size: 12px;
	font-weight: lighter;
	background-color: #fff;
	border-top: 1px solid #e2e2e2;
}

#relatedDocumentList #related_list .relatedDocumentItem {
	border-bottom: 1px dotted #d8d7d7;
	white-space: nowrap;
	overflow: hidden;
	list-style: none;
	font-size: 12px;
	margin: 0px;
	padding: 2px 9px;
	line-height: 2.3;
}

#relatedDocumentList #related_list .relatedDocumentItem a {
	color: #000;
}

#relatedDocumentList #related_list .relatedDocumentItem:nth-child(even) {}
.play_name,
.relatedNavigation {
	font-weight: 700;
	text-align: center;
}
.bar {
	color: #ccc;
	margin: 0px 4px;
}


/* Audio Document */
.linkableArea {
	padding: 9px 5px;
	width: 100%;
	text-align: right;
}
.documentLink {
	padding: 3px 5px;
	color: #797979 !important;
	font-size: 11px;
}
.cover_image img {
	margin-left: auto;
	margin-right: auto;
}
.commentSubmitButton {
	position: absolute !important;
	top: 0;
	right: 0;
	height: 100% !important;
	width: 56px !important;
	margin: 0;
	padding: 0 !important;
}
.comment_write {
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	display: inline-block;
	width: 100%;
	border-radius: 5px;
}
.commentAuthorIcon {
	float: left;
	margin-right: 10px;
	background: rgb(245, 245, 245);
	padding: 0px 5px;
	border-radius: 3px;
	width: 40px;
	height: 40px;
	text-align: center;
	color: rgb(200, 200, 200);
	font-size: 26px;
	border: 1px solid #eee;
	display: inline-block;
}
.side {
	float: right;
	margin-top: 5px;
}
.in_content .contentArea {
	background: #fff !important;
}
.documentContent {
	margin: 0px 5px 15px 5px
}
.regdateArea a,
.documentContent .title {
	font-size:13px;
}
.documentContent .title {
	margin: 0px 5px;
	padding: 5px;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
	color: #000;
	line-height: 1;
}
.documentContent .title_top {
	padding-top: 7px;
}
.documentContent .title_top span span,
.documentContent .title_top span a {
	margin-right: 3px;
	color: #848484 !important;
}
.documentContent .title_top span .highlight {
	color: #083892 !important;
	font-weight: bold;
}
.documentContent .bd_tb {
	width: 100%;
	position: relative;
}
.documentContent .bd_tb,
.documentContent .bd_tb th,
.documentContent .bd_tb td,
.documentContent .bd_tb th {
	border: 0 !important;
}
.documentContent .bd_tb tr {
	border-bottom: 1px dotted #f1f1f1;
}
.documentContent .bd_tb td {
	padding: 11px 10px;
	font-size: 11px;
	width: 100%;
	text-align: left;
}
.documentContent .bd_tb th {
	background-color: #F6F6F6;
	font-size: 12px;
	border-right: 1px solid #d7d7d7;
	white-space: nowrap;
	word-break: break-all;
	word-wrap: break-word;
}
.documentContent .bd_tb td,
.documentContent .bd_tb th {
	border-top: 1px solid #d7d7d7;
	text-align: left;
	padding: 9px 12px;
}
.documentContent .vote_area {
	color: #000;
	background-color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	/*Touch Action*/
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	/*User Select*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 4px;
}
.documentContent .vote_area:hover {
	background-color: rgb(0, 0, 0);
	color: #fff;
	text-decoration: none;
}
.documentContent .board_list tr {
	border-bottom: 1px solid #e1e1e1;
	background-color: #bfbfbf;
}
.documentContent .h1_title {
	padding: 7px 15px 0px 5px;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: -1px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.documentContent .btn_line {
	font-size: 12px;
	background-color: #fdfdfd;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #cccccc;
	padding: 9px 0;
}
.documentContent .btn_line:last-child {
	border-bottom: 1px solid #d4d4d4;
}
.documentContent .vote_area_box {
	text-align: center;
	margin: 55px 9px 15px;
}


/* Tag */
.tags img {
	width: 100%;
	display: inline-block;
	height: 180px!important;
}
.list_area .tags {
	display: block;
	width: 195px;
	height: 250px;
	margin: 2% 0px 2% 3.7%;
	float: left;
	background-color: #fff;
	padding: 5px;
	text-align: center;
	border: 1px solid #dadada;
	border-radius: 3px;
	box-shadow: 1px 3px 3px #eaeaea;
}


/* Audio */
.bpm_ech {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	top: 20px;
	right: 0px;
	border-radius: 3px 0px;
	font-size: 13px;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	padding: 1px 5px;
	opacity: .9;
	font-weight: 100;
	z-index: 9;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, .4);
	position: absolute;
	background-color: #A2A2A2;
}
.genre_ech {
	position: absolute;
	z-index: 9;
	color: white;
	bottom: 30px;
	right: 0px;
	background-color: #4F88C5;
	width: 43%;
	opacity: 0.8;
}
.cate_ech {
	border-radius: 0px 8px 0px 0px;
	top: 0;
	right: 0;
	background-color: #536390;
	mix-blend-mode: inline;
	color: #fff !important;
	font-weight: lighter !important;
}
.cate_ech,
.input_container ul,
.sm2_btn {
	position: absolute;
	z-index: 9;
}
.bitrate {
	position: absolute;
	left: 0;
	background-color: #782188;
	top: 0;
}
.bitrate,
.cate_ech {
	font-size: 12px;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	padding: 4px 6px;
	opacity: .96;
	font-weight: 100;
	z-index: 9;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, .4);
}
.bitrate,
.cate_ech:before {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .2)), to(rgba(0, 0, 0, .01)));
	background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0, rgba(0, 0, 0, .01) 100%);
}
.dbt {
	left: 3px !important;
	background-color: #7c3eb5;
}
.dbt2 {
	left: 21px !important;
	background-color: #58a0f1;
}
.dbt3 {
	left: 41px !important;
}
.dbt4 {
	left: 68px !important;
}
.dbt,
.dbt2 {
	z-index: 9999;
}
.dbt3,
.dbt4 {
	z-index: 9999;
	background-color: #bf3333;
}
.dbt,
.dbt2,
.dbt3,
.dbt4 {
	padding: 1px 3px 1px 3px;
	border-radius: 3px;
	position: absolute;
	font-size: 12px;
}
.label_view {
	font-weight: bold;
	width: 150px;
}
.autor {
	overflow: auto;
	height: 10px;
	line-height: 1.2em;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #7b7b7b !important;
}
.autor_search {
	z-index: 9;
	position: absolute;
	bottom: 0px;
	background-color: #353535;
	opacity: .7;
	padding: 3px;
	left: 0px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 6px;
}
.autor_search:hover {
	border-color: #3a77ea;
}
.sm2_btn {
	right: 5px !important;
}
.media_area {
	position: relative
}
.container {
	background: url("background.png");
	bottom: 0px;
	height: 100px;
	width: 100%;
	background-position: bottom;
	-webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
	pointer-events: none;
	background-position: bottom;
	z-index: 22;
	position: absolute;
}
.image_area {
	background-color: #d8d8d8;
	border-radius: 3px;
	-webkit-box-shadow: 7px 10px 51px -19px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 10px 51px -19px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 10px 51px -19px rgba(0, 0, 0, 0.75);
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
	box-shadow: 0 2px 2px 0 #cbcecf;
}
.image_area img {
	padding: 7px 7px 0px 7px;
}
.image_area img:hover {
	image-rendering: pixelated;
}


/* Setup */
.title_setup {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	padding: 7px 0px 3px 5px;
	margin: 25px 0px 0px 0px;
}
.label_setup {
	float: left;
	width: 220px;
	text-align: right;
	margin-right: 30px;
	font-size: 12px;
}
.section_value {
	margin: 0px;
	border-bottom: 1px dashed #d5d4d4;
	padding: 13px 0px;
	font-size: 13px;
}
.bd_setup {
	border: 1px solid #EEE;
	padding: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff)) fixed;
}
.sub_setup {
	font-size: 13px;
	margin: 7px 6px;
	padding: 5px 15px 9px 15px;
	border-bottom: 1px dotted #757575;
	background-color: #fff;
	border-radius: 5px;
}
.manu_btn {
	border: 1px solid #aeaeae;
	margin: 14px 5px;
	padding: 3px 5px;
	background-color: #fafafa;
	border-radius: 3px;
}
.section_input {
	float: left;
}
.down_form {
	background-color: transparent;
	border: none;
}
.play_mp3 {
	position: absolute;
	width: 15px;
	height: 15px;
}
.title_album {
	font-family: Nanum Gothic, 나눔고딕, NanumGothic, Gulim, sans-serif, Roboto, Arial, Helvetica !important;
	color: #2f2f2f;
	font-weight: lighter !important;
	font-size: 12px !important;
}
.doc_view {
	background: #4f85bb;
	background: -moz-linear-gradient(top, rgba(79, 133, 187, 1) 0, rgba(79, 133, 187, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(79, 133, 187, 1) 0, rgba(79, 133, 187, 1) 100%);
	background: linear-gradient(to bottom, rgba(79, 133, 187, 1) 0, rgba(79, 133, 187, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb', GradientType=0);
}


/* Editor */
.bd .itx,
.bd select {
	display: inline-block;
	*display: inline;
	color: #717171;
	margin: 0px;
	padding: 0px 3px;
	background: #fff;
	border-radius: 0px;
	border: 1px solid;
	border-color: #e0e0e0;
	*zoom: 1;
}
.bd .itx {
	height: 28px;
}
.bd .itx_wrp {
	position: relative;
	display: -webkit-box;
}
.bd .itx_wrp label {
	position: absolute;
	top: -1px;
	*top: 10px;
	left: 8px;
}
.bd .itx_wrp #postTitle {
	display: -webkit-box;
	width: 100%;
}


/* Reset */
.bd,
.bd input,
.bd textarea,
.bd select,
.bd button,
.bd table {
	font-size: 12px;
	line-height: 1.5;
}
.bd {
	color: #444
}
.bd em {
	font-style: normal
}
.bd a {
	text-decoration: none;
	color: #333;
	transition: border-color .4s, box-shadow .4s, background .4s, color .4s, opacity .4s;
}
.bd a:hover {
	text-decoration: underline;
	color: #000;
}
.bd fieldset {
	margin: 0;
	padding: 0;
	border: 0
}
.bd label,
.bd button {
	cursor: pointer
}
.bd,
.bd .clear {
	display: block;
	position: relative;
	clear: left;
	zoom: 1;
}
.bd hr.clear {
	margin: 0;
	*margin: -.8em 0;
	border: 0;
	*border: 1px solid transparent;
}
.bd_tb {
	width: 100%;
	border-collapse: collapse;
}


/* Icon */
.bd .ico_16px,
.bd .ico_32px,
.bd .ico_sns16,
.bd .ico_sns {
	display: inline-block;
	overflow: hidden;
	width: 16px;
	height: 16px;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	text-indent: -100px;
	transition: all .3s;
	*text-indent: 0;
}
.bd.hover_effect a:hover .ico_16px,
.bd.hover_effect a:focus .ico_16px,
.bd.hover_effect a:hover .ico_sns,
.bd.hover_effect a:focus .ico_sns {
	transform: rotate(360deg)
}
.bd .ico_16px {
	background-image: url(../img/white/ico_16px.png);
	background-repeat: no-repeat;
}
.bd .ico_16px.reply {
	background-position: 0 -32px
}
.bd .ico_16px.search {
	background-position: 0 -64px
}
.bd .ico_16px.write {
	background-position: 0 -96px;
}
.bd .ico_16px.setup {
	background-position: 0 -128px;
}
.bd .ico_16px.delete {
	background-position: 0 -160px;
}
.bd .ico_16px.home {
	background-position: 0 -224px;
}
.bd .ico_16px.re {
	background-position: 0 -192px;
}
.bd .ico_16px.re {
	position: absolute;
	top: 16px;
	left: -8px;
}
.bd .ico_32px {
	width: 32px;
	height: 32px;
	background-image: url(../img/white/ico_32px.png);
}
.bd .ico_32px.deco2 {
	background-position: 0 -64px;
}
.bd .ico_sns16 {
	border-radius: 3px;
	background-image: url(../img/sns_16.png);
	opacity: .8;
}
.bd .ico_sns {
	width: 32px;
	height: 32px;
	margin: 2px;
	background-image: url(../img/sns.png);
	opacity: .9;
}
.bd .ico_sns:hover {
	opacity: 1;
}


/* replyNumber */
.bd .replyNum {
	color: #ff7f50 !important;
}
.bd .replyNum {
	color: #C66;
}
.bd .replyNum,
.bd .trackbackNum {
	margin-left: 4px;
	font: 700 11px Tahoma, AppleGothic, sans-serif;
	white-space: nowrap;
}


/* List Style */
.cnb_n_list {
	position: relative
}
.small_lst_btn .cnb_n_list {
	position: static
}
.small_lst_btn .listButton {
	top: 0px;
	right: 0px;
	position: absolute;
	background: #FFF;
    border: 1px solid #c7c7c7;
}
.small_lst_btn1 .listButton {
	display: none
}
.small_lst_btn .listButton a {
	padding: 5px
}
.listButton ul {
	list-style: none;
	margin: 0;
	padding: 0
}
.listButton li {
	float: left
}
.listButton a {
	display: block;
	margin-left: -1px;
	padding: 6px;
	opacity: .5;
	filter: alpha(opacity=50);
	background-image: url(../img/blank.gif);
	*text-decoration: none !important
}
.listButton li:first-child a {
	border-radius: 0px;
	*margin: 0
}
.listButton li:last-child a {
	border-radius: 0 3px 3px 0
}
.listButton a:hover,
.listButton a:focus,
.listButton .on a {
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	filter: alpha(opacity=100);
	opacity: 1
}
.listButton b {
	display: block;
	overflow: hidden;
	width: 11px;
	height: 0;
	padding-top: 11px;
	background: url(../img/white/list_style.png) no-repeat
}
.listButton .zine b {
	background-position: -11px 0
}
.listButton .gall b {
	background-position: -22px 0
}
.listButton .cloud b {
	background-position: -33px 0
}
.listButton .gall2 b {
	background-position: -55px 0
}
.listButton .gall3 b {
	background-position: -66px 0
}
.listButton .gall4 b {
	background-position: -77px 0
}
.listButton .gall5 b {
	background-position: -90px 0
}


/* Thumb */
.tmb_list {
	width: 50px;
	height: 50px;
}
.notmb {
	background-image:url(Library/image/thumb/none.jpg);
	border:1px solid #EEE;
}
.tmb {
	border-radius: 0px;
	object-fit: contain;
	background-size: cover;
	image-rendering: pixelated;
	box-shadow: 1px 3px 3px #eaeaea;
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
	box-shadow: 0 2px 2px 0 #cbcecf;
}
.tmb:hover {
	box-shadow: 0 0 10px 5px #cbcecf;
	-webkit-filter: opacity(50%);
	filter: opacity(50%);
}
.thumbnailWrap {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	*display: inline;
	*zoom: 1
}
.thumbnailWrap img.tmb {
	display: block;
	position: relative;
	margin: 0 auto;
	background: #FFF;
	*margin: 0;
	object-fit: fill;
}
.thumbnailWrap .fixed {
	display: block;
	position: absolute;
	color: #EEE
}
.thumbnailWrap a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none !important;
	background-image: url(../img/blank.gif);
	*cursor: pointer
}
.thumbnailWrap .info_wrp {
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%
}
.thumbnailWrap a:focus .info {
	position: static !important;
	opacity: 1 !important
}
.thumbnailWrap .padding {
	padding: 6%;
	*color: #EEE
}
.thumbnailWrap .tl {
	display: block;
	padding-bottom: 7px;
	font-size: 12px;
	line-height: 14px;
	white-space: normal;
	letter-spacing: -1px;
	color: #FFF
}
.thumbnailWrap .nnu i {
	width: 36px;
	height: 36px;
	padding: 0 !important;
	font-size: 10px;
	line-height: 36px
}
.image_area img {
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.item-section li {
    margin: 10px 0px;
    display: -webkit-box;
}
.bg_f_f9 a{
    color: #757575 !important;
}
/* Normal */
.boardListStyle {
	margin-top: 5px
}
.boardListStyle th,
.boardListStyle td,
.boardListStyle td.title {
	font-size: 14px;
}
.boardListStyle th,
.boardListStyle td {
	padding: 7px 15px;
	text-align: center;
	white-space: nowrap;
}
.boardListStyle th {
	padding: 9px 12px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 2px solid #e6e6e6;
	background-color: #fff;
}
.boardListStyle td,
.boardListStyle .hx:visited {
	color: #555;
}
.boardListStyle td.title {
	text-align: left;
	white-space: normal;
	word-break: break-all;
}
.boardListStyle td.title a {
	color: #222;
}
.boardListStyle td,
.bd_zine li {
	border-bottom: 1px solid #EEE;
}
.boardListStyle .cate {
	padding: 8px;
	color: #666;
}
.boardListStyle .title {
	padding-right: 6px;
	width: 100%;
}
.boardListStyle .wrp {
	left: 0;
	margin-left: 0 !important;
	white-space: normal;
}
.boardListStyle .wrp img {
	display: block;
	margin: 0 auto;
	padding: 7px;
}
.boardListStyle .cate span,
.boardListStyle .author span,
.boardListStyle .last_post small {
	display: block;
	overflow: hidden;
	max-width: 90px;
	text-overflow: ellipsis;
	word-wrap: normal\9;
}
.boardListStyle .author img {
	max-width: none;
}
.boardListStyle tbody tr div {
	overflow: hidden;
	text-overflow: inherit;
	position: relative;
	max-height: 18px;
}
.boardListStyle tbody tr:hover {
	background-color: #eee
}


/* Gallery */
.boardStyleGallery {
	padding: 0px;
	text-align: center;
	z-index: 9;
	border-bottom: 1px solid #eee;
	margin-bottom: 9px;
}
.boardStyleGallery>li {
	position: relative;
	display: inline-table;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}
.boardStyleGallery>li>div {
	display: inline-block
}
.boardStyleGallery .bg,
.boardStyleGallery .bg2 {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.boardStyleGallery .bg2 {
	background: #FFF
}
.boardStyleGallery .bg:before,
.boardStyleGallery .bg:after {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 5px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	border: 0;
	box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.boardStyleGallery .bg:after {
	right: 5px;
	left: auto;
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}
.boardStyleGallery p {
	text-align: left;
	overflow: hidden;
	margin: 8px 6px;
	line-height: 15px;
	text-overflow: ellipsis;
}
.boardStyleGallery p b {
	font-weight: 400;
	font-size: 11px;
}
.boardStyleGallery. gall_style2 .thumbnailWrap {
	padding: 5%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.boardStyleGallery li:hover {
	background-color: #f7f7f7;
	border: 0px solid #6966C5;
}
.boardStyleGallery li {
	background-color: #fff;
	border: 0px solid #D5D5D5;
}


/* Bubble Thumbnail */
.view_bd {
	position: relative;
	z-index:9999;
}
.bubble .wrp {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 100%;
	z-index: 100;
	font-size: 11px;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 5px;
	white-space: nowrap;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
.wrp img {
	width: 150px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}


/* Thumb */
.no_img {
	
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    /* background: #F3F3F3 !important; */
    font-weight: 700;
    font-size: 1.1em;
    color: #CCC;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
    background-image: url(../../../../../../../library/img/blank_thumbnail.jpg);
    *margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
	background-position:center;
}
.no_img p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px !important;
	font-style: oblique;
    z-index: -10;
}
.thumbnailWrap {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	*display: inline;
	*zoom: 1;
}
.thumbnailWrap img .tmb {
	display: block;
	position: relative;
	margin: 0 auto;
	*margin: 0;
	background: #FFF;
}
.thumbnailWrap .fixed {
	display: block;
	position: absolute;
	color: #EEE;
}
.thumbnailWrap a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none !important;
	background-image: url(../img/blank.gif);
	*cursor: pointer;
}
.thumbnailWrap .info_wrp {
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
}
.thumbnailWrap a:focus .info {
	position: static !important;
	opacity: 1 !important;
}
.thumbnailWrap .padding {
	padding: 6%;
	*color: #EEE;
}
.thumbnailWrap .tl {
	display: block;
	padding-bottom: 7px;
	font-size: 12px;
	line-height: 14px;
	white-space: normal;
	letter-spacing: -1px;
	color: #FFF;
}
.thumbnailWrap .nnu i {
	width: 36px;
	height: 36px;
	padding: 0 !important;
	font-size: 10px;
	line-height: 36px;
}


/* Webzine */
.bd_zine>li {
	position: relative;
	margin: 0 auto;
	word-break: break-all;
	word-wrap: break-word;
}
.bd_zine>li>a {
	display: block;
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	border: 2px solid transparent;
	background-image: url(../img/blank.gif);
	text-decoration: none;
}
.bd_zine.zine>li {
	margin: 0 2px;
	padding: 16px 8px 16px 16px;
	*zoom: 1;
}
.bd_zine.zine2>li {
	padding-left: 118px
}
.bd_zine .big_date {
	float: left;
	margin-left: -90px;
	text-align: center;
	white-space: nowrap;
}
.bd_zine .dd {
	font: 700 42px/48px Tahoma, AppleGothic, sans-serif;
	letter-spacing: -2px;
}
.bd_zine .mmyy {
	font: 700 14px/22px Tahoma, AppleGothic, sans-serif;
	letter-spacing: -1px;
	color: #777;
}
.bd_zine .yy {
	font-weight: 400;
}
.bd_zine .hh {
	letter-spacing: -1px;
	color: #888;
}
.bd_zine .thumbnailWrap {
	text-align: center;
	transition: all .4s;
}
.bd_zine.zine .thumbnailWrap {
	float: left;
}
.bd_zine.zine .thumbnailWrap img,
.bd_zine .no_img {
	border: 1px solid #DDD;
}
.bd_zine h3 {
	margin: 0;
	font-size: 15px;
	color: #444;
}
.bd_zine .cnt {
	margin: 6px 0 2px;
}
.bd_zine .info,
.bd_zine .info a {
	color: #999
}
.bd_zine .info i {
	display: none;
	color: #BBB;
}
.bd_zine .info b {
	margin-left: 5px;
}
.bd_zine img,
.bd_zine input {
	vertical-align: text-top;
}
.bd_zine.zine .info {
	font-size: 11px;
	line-height: 1;
}
.bd_zine.zine .info>span {
	display: inline-block;
	margin: 7px 7px 0 0;
	padding-right: 9px;
	border-right: 1px solid #DDD;
	*display: inline;
	*zoom: 1
}
.bd_zine.zine .info>span:last-of-type {
	border: 0
}
.bd_zine.card > li {
	float: left;
	padding: 9px;
	background: #FFF;
	border: 1px solid #DDD;
	border-bottom-color: #BBB
}
.bd_zine.card2 > li {
	padding: 10px;
	background: transparent;
	border: 0;
	box-shadow: none
}
.bd_zine.card .hx,
.bd_zine.card .notice a {
	border-style: solid
}
.bd_zine.card .thumbnailWrap {
	width: 100%
}
.bd_zine.card h3 {
	margin-top: 1.2em;
	font-size: 12px;
	line-height: 1.4
}
.bd_zine.card .cnt {
	margin-top: 1em;
	font-size: 11px
}
.bd_zine.card .info {
	margin-top: 1em;
	font-size: 10px
}
.bd_zine.card .info b {
	margin: 0 4px 0 3px;
	font-weight: 400
}
.bd_zine.card .info .br {
	display: block
}
.bd_zine.card .info .br b {
	padding-left: 8px
}
.bd_zine[class^=info_icon] .info > span {
	margin-right: 4px;
	border: 0
}
.bd_zine[class^=info_icon] .info i {
	display: inline-block;
	*display: inline;
	*zoom: 1
}
.bd_zine.info_icon .info b {
	font-weight: 400
}
.bd_zine.info_icon .info>span>span {
	display: none
}
.bd_zine.info_icon2 .info i {
	margin-right: 4px
}


/* Pagnation */
.bd_pg {
	padding: 24px 0px;
	text-align: center
}
.bd_pg a,
.bd_pg strong {
	color: #828282 !important;
	display: inline-block;
	min-width: 12px;
	height: 24px;
	padding: 0 6px;
	border: 1px solid transparent;
	border-radius: 2px;
	font: 500 12px/2em sans-serif, Tahoma, AppleGothic;
	letter-spacing: -1px;
	*display: inline;
	*zoom: 1
}
.bd_pg a {
	color: #999;
	text-decoration: none !important
}
.bd_pg .this,
.bd_pg a:hover,
.bd_pg a:focus {
	background: #F9F9F9;
	border-color: #AAA;
	color: #555
}
.bd_pg .frst_last {
	color: #555
}
.bd .bd_go_page {
	left: -47px;
	padding: 8px 2px;
	border-color: #AAA;
	*vertical-align: top
}
.bd_go_page .itx,
.bd_go_page .bd_btn {
	height: 24px;
	margin: 0 6px;
	padding: 2px 8px;
	text-align: center;
	vertical-align: middle
}
.bd_go_page .itx {
	width: 32px;
	padding: 2px 8px
}


/* List Bottom */
.btm_mn {
	position: relative;
	margin-top: -1px;
	padding: 10px 10px 0
}
.btm_mn .fl .btn_img {
	margin-right: 4px
}
.btm_mn .fr .btn_img {
	margin-left: 5px
}
.bd .bd_srch_btm_itx {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	border: 0;
	box-shadow: none;
	background: none;
	cursor: pointer
}
.bd .boardSearchForm label {
	display: inline;
	position: static;
	font-size: 11px;
	line-height: 16px
}
.on .bd_srch_btm_itx {
	width: 116px;
	padding-left: 4px;
	cursor: auto;
	line-height: 28px\9
}
.boardSearchForm {
	display: inline
}
.boardSearchForm.on .search {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 0
}
.boardSearchForm.on .itx_wrp {
	float: left;
	width: 140px;
	overflow: visible\9 !important
}
.boardSearchForm.on label {
	visibility: hidden !important
}
.boardSearchForm .select {
	display: none;
	float: left;
	padding: 4px
}
.boardSearchForm select {
	margin: 0;
	padding: 0;
	border: 0;
	background: #FCFCFC
}
.boardSearchForm button {
	background-color: transparent;
	border: 0
}
.boardSearchForm .bg_f_f9 {
	padding: 5px 15px;
	border: 1px solid #BBB
}
.boardSearchForm.on .select {
	display: block
}


/* Button */
.bd_btn,
.btn_img {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 4px 20px;
	background: #fff url(../img/ie/btn.png) repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F3F3F3));
	background: linear-gradient(to bottom, #FFF 0%, #F3F3F3 100%);
	border: 1px solid;
	border-color: #CCC #C6C6C6 #C3C3C3 #CCC;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none !important;
	text-align: center;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: inset 0 0 1px 1px #FFF, 0 1px 1px rgba(0, 0, 0, .1);
	*display: inline;
	*zoom: 1
}
.btn_img {
	color: #8a8a8a !important;
	padding: 5px 14px;
	font-size: 11px;
	line-height: 1.5;
	border-color: #cccccc;
	background: #f9f9f9;
	letter-spacing: -1px;
	box-shadow: none;
	border-radius: 0px
}
.btn_img.no {
	padding: 4px 18px
}
.btn_img i {
	margin-right: 3px
}
.current_page {
	border: 1px solid #b2b2b2;
	background-color: #DDD;
}
.btn_bd_sub {
	padding: 5px 8px;
	border-left: 1px solid #e4e4e4
}
.btn_bd_area {
	padding: 4px 3px;
	margin: 12px 6px;
	float: right;
	background-color: #fdfbfb;
	border: 1px solid #e6e3e3;
}
.btn_bd {
	border-radius: 5px;
	padding: 5px 8px
}
.sort {
	border: 1px solid #E4E7F0;
	border-radius: 34px !important;
	padding: 3px 8px;
	margin: 0px 2px;
	float: left;
}
.sortable_list {
	top: 50px;
	background: #fff;
	box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid #ebebeb;
	border-radius: 3px;
	z-index: 10000;
	position: absolute;
}
.sortable_list li {
	display: block;
	padding: 8px 15px;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}