select{display: inline-block;height: 20px;padding: 4px 6px;margin-bottom: 10px;font-size: 14px;line-height: 20px;color: #555;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: #fff;border: 1px solid #ccc;padding: 0;height: 26px;line-height: 26px;}
textarea{overflow: auto;width: 100%;margin: 0;padding: 4px 6px;border: 1px solid;border-color: #CCC #DDD #DDD #CCC;border-radius: 3px;box-shadow: inset 1px 1px 4px rgba(0,0,0,.06);}
textarea{background-color: #fff;border: 1px solid #ccc;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;-moz-transition: border linear 0.2s,box-shadow linear 0.2s;-o-transition: border linear 0.2s,box-shadow linear 0.2s;transition: border linear 0.2s,box-shadow linear 0.2s;width: 206px;}
.help_btn{background-color: #969595;color: #fff;font-size: 7px;border-radius: 50%;margin: 3px;padding: 2px 4px 2px 4px;}
.subtitle_setup{font-size: 11px;color: #c94646;padding-bottom: 5px;padding: 5px;border-bottom: 1px dotted #e8e8e8;background-color: #fbfbfb;}
.top_bookmark{position: fixed;bottom: 50px;left: 0px;max-width: 250px;background-color: #fff;border: 1px solid #dfdddd;font-size: 13px;box-shadow: 0 1px 2px rgba(0,0,0,.1);}
.top_bookmark a{display: block;background: -webkit-linear-gradient(top,#f9f9f9,#f7f7f7);background: -moz-linear-gradient(top,#f9f9f9,#f7f7f7);background: -o-linear-gradient(top,#f9f9f9,#f7f7f7);background: -ms-linear-gradient(top,#f9f9f9,#f7f7f7);background: linear-gradient(top,#f9f9f9,#f7f7f7);padding: 7px 13px 7px 7px;}
.title_setup{background: -webkit-linear-gradient(top,#f9f9f9,#f7f7f7);background: -moz-linear-gradient(top,#f9f9f9,#f7f7f7);background: -o-linear-gradient(top,#f9f9f9,#f7f7f7);background: -ms-linear-gradient(top,#f9f9f9,#f7f7f7);background: linear-gradient(top,#f9f9f9,#f7f7f7);}
.submit_section{padding: 13px 0px 0px 0px;text-align: right;}
.tabs{border: 1px solid transparent;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;float: left;padding: 6px 13px;font-size: 11px;margin: 7px 0px 0px 5px;}
.tab_selected{background-color: #fafafa;border-bottom:1px dotted #bababa}
.selected_bookmark{color:#387fef !important;font-weight:bold}

/* table */
label, table, input, textarea, select, button {font-size: 13px;}
.x_table {width: 100%;margin-bottom: 20px;}
table {max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;}
.x_table>caption {text-align: left;padding: 0 0 10px 0;line-height: 26px;}
.x_table th, .x .x_table td {padding: 8px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;}
.nowr {white-space: nowrap;}
.header_title{line-height: 10px;}
.x_table th, .x .x_table td {padding: 8px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;}
.x_table-striped tbody>tr:nth-child(odd)>td, .x .x_table-striped tbody>tr:nth-child(odd)>th {background-color: #f9f9f9;}
.x_table th, .x_table td {padding: 8px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;}
.x_table th, .x_table td {background-color:#fff}
.x_table th a, .x_table td a{font-size:11px}
.x .x_modal-header {padding: 10px 15px;border-bottom: 1px solid #aaa;background-color: #2c5884;}
#tabHolder{height: 100%;display: -webkit-box;padding-bottom: 5px;border-bottom: 2px solid #209be2;background-color: #eaeaea;}
#addCategoryNodes {margin: 0px 7px;}
#plugins4_q {margin: 0em auto 1em auto;display: block;padding: 4px;border-radius: 4px;border: 1px solid silver;position: absolute;bottom: 0px;left: 15px;width: 30%;}
.flower_content {position:relative;}
#data {padding: 0px;margin: 1px 0px;top: 10px;background-color: #ffffff;display: block;}
#__category_info{z-index: 1041;position: fixed;top: 20px;background-color: #fff;padding: 11px 9px;margin: 0 auto;padding: 0;width: 50%;top:30%;margin: 0 0 0 0%;max-width: none;padding: 0px;}
.x_modal-backdrop {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;background-color: #000000;opacity:0.7;}.x .x_modal-header>h1, .x .x_modal-header>h2, .x .x_modal-header>h3 {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    color: #fff;
}.x .x_modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}.x_modal .x_modal-body {
    background: #fff;
    min-height: 50px;
    overflow-y: auto;
    max-height: 400px;
}.x .x_modal-body {
    position: relative;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
}