#playlist li{padding: 7px 5px;margin: 8px;border: 1px solid #e6e6e6;background-color: #fbfbfb;list-style: none;border-radius: 3px;}
#playlist{padding: 3px 0px;margin: 0px;}
.left_zone{float: right;line-height: 22px;}
.sm2_btn{float: left;margin-right: 8px;}